.MDBContainer{
    margin-left: 20px;
    width: 100vh;
}
.profile-header{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 10px;

}
.profileBox{
  background-color: white !important;
  border-radius: 5px;
  width: 450px;
  height: 250px;

}
.profile-details{
  display: flex;
  justify-content: space-around;
  margin: 10px;

}
.profileUpdat-details{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 1px; /* Adjust the value as needed */
  margin: 0px;

}
.profileUpdateBox{
  background-color: rgb(240, 89, 70) !important;
  border-radius: 5px;
  width: 450px;
  height: auto;

}
.profileDELETEBox{
  background-color: rgb(245, 242, 242) !important;
  border-radius: 5px;
  width: 450px;
  height: auto;

}
.formDisplay{
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

  .user-update{
    background-color: #eea342;
    width: 50%;
  }
  .imgdel{
    display: flex;
    flex-direction: column;
  }
  .btndelete{
    width: 180px;
    background-color: #f12c12;
    color: white;
    border-radius: 5px;
    margin-top: 10px;
    text-align: center;
    text-decoration: none;
  }
  .btnupdate {
    margin-top: 10px;
    text-align: center;
    width: 100%;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
  }
  